{% extends 'base.html' %}

<!-- {% block content %} -->
<h1>Welcome to the Stoicism Home Page</h1>
    <link href="https://youtu.be/UjCdB5p2v0Y?list=TLPQMTMwNzIwMjLwyvjlen94Gw"alt="Techno_Viking"></link>
    <br href= "{{ url_for('my_view.index' )}}"><link>
        <a href= "{{ url_for('my_view.index' )}}"></a>
        <img src="/Users/stephenprescott/Project_Folder/Static/stoic web mainpage image.jpg" alt="Stoic Mountain">   
<h2>

<div
        id="navbar">
        
        <a href="page1" Page1>Page 1</a>
        <a href="page2" Page2>Page 2</a>
        <a href="page3" Page2>Page 3</a>
        <a href="page4" Page2>Page 4</a>
    </div> 
</h2>
<br>
This is Stoicism 
<br></br>
Meet the Techno Viking 
<a link url="https://youtu.be/UjCdB5p2v0Y?list=TLPQMTMwNzIwMjLwyvjlen94Gw"alt="Techno_Viking"></a>


<br>
</br>
<img src="Static/marcus-tullius-cicero.detail.jpeg" alt="Cicero">

</h1>
<!-- {% endblock %}    -->