{% extends 'base.html'%}

{% block content %}
<h1>What Is Stoicism</h1>

<a href= "{{ url_for('my_view.index' )}}"></a>
<img src="/Users/stephenprescott/Project_Folder/Templates/8_Principles_of_Stocisim.jpeg" alt="Stoic 8 Principles" width="500px" height="500px">

<h3>The 8 Principles of Stocisim</h3>
<br></br>
<h2>1. Nature: Nature is rational</h2>
<br></br>
In this principle, the Stoic philosophers believed that the universe is governed by reason. It is said that living according to nature is synonymous to living according to reason. In terms of the human being, this means that we should attempt to live in accordance with our human nature.
<br></br>
Instead of attempting to force our lives for something that it isn’t it should be allowed to unfold as it naturally would. If we look at how humans naturally develop and progress through life, then we’ll be able to see what decisions would align with this principle.
<br></br>
<h3>How we could apply this daily:</h3>
As we make decisions in our lives, we should remember this principle and try to weigh the pros and cons of each decision according to it. This will help us flow with life instead of forcing it to go a certain way.
<br></br>
<h2>2. Law of Reason</h2>
<br></br>
This principle states that the universe is governed by reason. As living beings, we are physical manifestations of the universe itself. This means that everything in our life is to be done as if it has a purpose or meaning behind it.
<br></br>
<h3>How we could apply this daily:</h3>
<br></br>
When we make decisions in our lives we can ask ourselves what would happen if the world was governed by reason, how could I tell? We could also consider ourselves the physical manifestation of reason itself and how can we uphold this principle through our actions.
<br></br>
<h2>3.Wisdom</h2>
<br></br>
The Stoics were the first to make wise decisions based on reason. The wisdom that we’re able to obtain from this philosophy is far greater than any other system of thought. It’s a philosophy that teaches us that life is governed by reason and that it should be lived accordingly.
<br></br>
<h3>How we could apply this daily:</h3>
<br></br>
We can look at the reasoning behind everything we do in our lives and try to incorporate this into our actions. This helps us maintain a level of control over what we do and how it affects ourselves and others around us.
<br></br>
<h2>4. Virtue</h2>
<br></br>
This principle states that we should practice virtue, which is the quality of acting in accordance with reason. The Stoics strongly believed that virtue was dependent on having a well-ordered mind and understanding the reasoning behind what we do.
<br></br>
<h3>How we could apply this daily:</h3>
<br></br>
We can use this principle to ask ourselves: why are we acting? We should be able to answer this question before we act on any decision in our lives as it will help us make better decisions.
<br></br>
<h2>5. Apathea</h2>
<br></br>
Apathea means that we should learn how to be content with what we’re given in life instead of choosing to focus on things outside of our control. The things that we can control are our attitude, our thoughts, and the way we react and respond to what life gives us.
<br></br>
We shouldn’t become attached or dependant on external factors like wealth or status as these can change at any moment. This principle teaches us that it’s wise to be content with whatever happens in life and focus on internal factors instead.
<br></br>
<h3>How we could apply this daily:</h3>
<br></br>
We can ask ourselves: what are the things that I have control of in my life? This will help us become less stressed when we’re faced with uncertainty. We also need to learn to focus only on the things that we can influence as this will help us maintain a level of happiness in our lives.
<br></br>
<h2>6. Pleasure</h2>
<br></br>
We should be able to have a certain amount of pleasure in our lives. The Stoics believed that the quantity and quality of our pleasures should be proportional to what we’re able to control.
<br></br>
<h3>How we could apply this daily:</h3>
<br></br>
We should try to live a life that is pleasing to us, even if it isn’t as pleasurable as we wish it could be. We can also make the most of life’s little pleasures which often go unnoticed by others.
<br></br>
<h2>7. Evil</h2>
<br></br>
Poverty, death and illness are just some of the adversities that we face in life. We shouldn’t expect these things to always happen to us but we should be prepared to face them if they do.
<br></br>
The Stoics believed that evil is sometimes necessary in order for good things to occur later on in life. This means that we should be ready to handle whatever comes our way and make the most out of our circumstances.
<br></br>
<h5 id= "quote"></h5>"Grant me the strength to deal with the hard stuff life throws at me instead of granting me an easy life".
<h3>How we could apply this daily:</h3>
<br></br>
We should gather the strength to deal with whatever life throws at us instead of running away from it. We must also understand that sometimes things happen in our lives, not because of evil forces but because they’re necessary for a better outcome.
<br></br>
<h2>8. Duty</h2>
<br></br>
This principle includes the duty to live according to nature (Principle 1) and the duty to practice virtue ( Principle 3 ). The Stoics believed that these are duties that we have to fulfil as human beings. They weren’t just duties which we were forced by law or religion but they were our duties as human beings.
<br></br>
<h3>How we could apply this daily:</h3>
<br></br>
We can see how our responsibilities towards other people, the world, and ourselves are aligned with this principle. The duty to practice virtue is a duty to follow our human nature and the duty to live according to nature is a duty that we must fulfil in order for our lives to flow smoothly.

</p>

{% endblock %}